.main-wrapper {
  /* background: rgb(34, 193, 195);
  background: linear-gradient(
    27deg,
    rgba(34, 193, 195, 1) 20%,
    rgba(253, 187, 45, 1) 100%
  ); */
  background: -moz-linear-gradient(
    top,
    #e4f5fc 0%,
    #bfe8f9 50%,
    #9fd8ef 51%,
    #2ab0ed 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #e4f5fc 0%,
    #bfe8f9 50%,
    #9fd8ef 51%,
    #2ab0ed 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #e4f5fc 0%,
    #bfe8f9 40%,
    #9fd8ef 47%,
    #2ab0ed 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=0 ); /* IE6-9 */

  height: 100vh;
  width: 100%;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  margin-top: 25px;
  height: 50%;
  min-width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid royalblue;
  border-radius: 5px;
  overflow: hidden;
  padding: 2px;
}
.content-wrapper ul {
  overflow-y: auto;
  height: 50vh;
  width: 550px;
  padding: 0 10px;
}

.form-wrapper {
  margin-left: 25px;
  margin-top: 20px;
}

.tasks h2 {
  font-size: 32px;
  margin: 15px 0;
}

.tasks {
  width: 25em;
  border: 2px solid red;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 15em;
  padding-bottom: 20px;
}

.appointments {
  height: 25em;
}

.appointments form,
.tasks form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 70%;
}

.form-button {
  margin-top: 20px;
  display: flex;
  /* width: 60%; */
  justify-content: space-between;
}

.submit-btn,
.disabled-btn,
.cancel-edit {
  padding: 5px 12px;
  border: none;
  width: 100%;
  background-color: rgb(43, 184, 43);
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.cancel-edit {
  background-color: orangered;
  color: white;
  /* margin-left: 10px; */
}

.disabled-btn {
  cursor: not-allowed;
  background-color: darkgray;
}

form input[type="number"] {
  width: 40px;
  text-align: center;
}

form label {
  margin-top: 10px;
}

.timepick {
  height: 30px;
  width: 100%;
}

.switch-view,
.logout-btn {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 16px;
  font-size: 24px;
  background-color: royalblue;
  color: white;
  border: none;
  border-radius: 5px;
}

.logout-btn {
  transform: none;
  top: 2%;
  left: 90%;
  background-color: red;
}

.tooltip-border {
  border-radius: 10px;
}

.notification {
  position: absolute;
  left: 50%;
  top: 2%;
  transform: translateX(-50%);
  background-color: black;
  padding: 18px;
  color: white;
}
