.item-main {
  color: black;
  text-shadow: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid darkgreen;
  width: 100%;
  margin: 25px auto;
}

.done-item {
  text-decoration: line-through;
  color: red;
}

.item-content {
  width: 100%;
  height: 40px;
  padding-bottom: 10px;
}

.item-main button {
  font-weight: bold;
  padding: 5px 12px;
  border: none;
  border-radius: 10px;
  margin-left: 5px;
}

.item-main h3 {
  line-height: 1.3;
  cursor: pointer;
}

.item-main p {
  cursor: pointer;
}

.edit-btn {
  background-color: orange;
}

.del-btn {
  background-color: rgb(250, 60, 60);
}
