.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.login-wrapper h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  font-size: 44px;
}

.login-form,
.login-error {
  height: 30%;
  width: 20%;
  border: 2px solid royalblue;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
}

.login-error {
  border: 2px solid red;
}

.login-wrapper form {
  position: relative;
}

.login-form button,
.login-error button {
  margin-top: 20px;
  padding: 5px 12px;
  border: none;
  background-color: rgb(43, 184, 43);
  border-radius: 10px;
  color: white;
  width: 120px;
}

.login-wrapper input {
  width: 90%;
  /* border: 2px solid royalblue; */
}

/* DA SE NAPRAVI AKO IMA POGRESNI CREDENTIALS I DRUGI GRESKI */
.errorMsg {
  color: red;
}

.inputErr {
  border: 2px solid red;
}
